.listephotos {
    background-color: rgb(238, 238, 255);
}

.detailphoto {
    background-color: rgb(255, 255, 205);
}

.emptydetailphoto {
    background-color: rgb(247, 212, 159);
}

.selected {
    font-weight: bold;
}
