.app .title {
    font-weight: bold;
}

.app .header {
    margin-bottom: 1em;
    border-bottom: solid rgb(215, 215, 215) 1px;
}

.app .header .tagline {
    font-style: italic;
}

.listephotos {
    background-color: black;
    height: 90vh;
    overflow-y: scroll;
}

.listeitem {
    background-color: rgb(79, 78, 78);
}

.listeitem .name {
    color:white;
    padding:0;
    margin:0;
    font-size:80%;
}

.listeitem img {
    width:100%;
    margin:0;
    padding:0;
}

.listeitem .nom {
    font-size: 120%;
    text-align: center;
}

.listeitem .selected {
    font-weight: bold;
}

.interview .question {
    font-style: italic;
    margin-top: 0.5em;
}

.interview .reponse {
    margin-left: 1em;
    margin-top: 0.1em;
}

.detailphoto {
    height:90vh;
    overflow: scroll;
}

.detailphoto img {
    float:right;
    width: 50%;
    height: auto;
}

.detailphoto .phrase, 
.minidetail .phrase {
    font-style: italic;
}

.minidetail h2 {
    font-size:120%;
}